<div class="addContainer">
    <div class="modalHeader">
        <div class="modalTitle">
            {{dialogTitle}}
        </div>
        <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="claimForm" (ngSubmit)="confirmAdd()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Claim ID</mat-label>
                        <input matInput formControlName="claimId" required>
                        <mat-icon matSuffix>receipt</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Policy ID</mat-label>
                        <input matInput formControlName="policyId" required>
                        <mat-icon matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Claim Type</mat-label>
                        <mat-select formControlName="claimType" required>
                            <mat-option value="Inpatient">Inpatient</mat-option>
                            <mat-option value="Outpatient">Outpatient</mat-option>
                            <mat-option value="Surgery">Surgery</mat-option>
                            <mat-option value="Pharmacy">Pharmacy</mat-option>
                            <mat-option value="Dental">Dental</mat-option>
                            <mat-option value="Vision">Vision</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Claim Amount</mat-label>
                        <input matInput type="number" formControlName="claimAmount" required>
                        <mat-icon matSuffix>attach_money</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Claim Date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="claimDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Submitted Date</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="submittedDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status" required>
                            <mat-option value="Pending">Pending</mat-option>
                            <mat-option value="Approved">Approved</mat-option>
                            <mat-option value="Rejected">Rejected</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-flat-button class="formSubmitBtn" [disabled]="!claimForm.valid"
                            type="submit">Save</button>
                        <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>