<div class="addContainer">
    <div class="modalHeader">
        <div class="avatarDetails">
            <div class="modalTitle">{{ dialogTitle }}</div>
        </div>
        <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="testOrderForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Order ID</mat-label>
                        <input matInput formControlName="orderId" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>qr_code</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Patient Name</mat-label>
                        <input matInput formControlName="patientName" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>person</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Test Name</mat-label>
                        <input matInput formControlName="testName" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>science</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Ordering Physician</mat-label>
                        <input matInput formControlName="orderingPhysician" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Order Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="orderDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Priority</mat-label>
                        <mat-select formControlName="priority" required>
                            <mat-option value="Routine">Routine</mat-option>
                            <mat-option value="Urgent">Urgent</mat-option>
                            <mat-option value="Stat">Stat</mat-option>
                        </mat-select>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status" required>
                            <mat-option value="Ordered">Ordered</mat-option>
                            <mat-option value="Scheduled">Scheduled</mat-option>
                            <mat-option value="Completed">Completed</mat-option>
                        </mat-select>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>check_circle</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="notes"></textarea>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>notes</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-flat-button class="formSubmitBtn" [disabled]="!testOrderForm.valid"
                            type="submit">Save</button>
                        <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>