<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Edit Doctor'" [items]="['Doctors']" [active_item]="'Edit Doctor'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

        <mat-card>
          <mat-card-header>
            <mat-card-title>Edit Doctor</mat-card-title>
            <mat-card-subtitle class="card-subtitle">Update doctor information</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <form class="m-4" [formGroup]="docForm" (ngSubmit)="onSubmit()">
              <!-- Personal Information Section -->
              <div class="section-heading mb-2">
                <h3 class="section-title"><i class="material-icons-outlined">person</i> Personal Information</h3>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="first" required>
                    @if (docForm.get('first')?.hasError('required')) {
                    <mat-error>
                      First name is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Middle name</mat-label>
                    <input matInput formControlName="middle">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="last">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'Male'">
                        Male
                      </mat-option>
                      <mat-option [value]="'Female'">
                        Female
                      </mat-option>
                      <mat-option [value]="'Other'">
                        Other
                      </mat-option>
                    </mat-select>
                    @if (docForm.get('gender')?.hasError('required')) {
                    <mat-error>
                      Gender is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (docForm.get('dob')?.hasError('required')) {
                    <mat-error>
                      Please select date
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Blood Group</mat-label>
                    <mat-select formControlName="bloodGroup">
                      <mat-option [value]="'A+'">A+</mat-option>
                      <mat-option [value]="'A-'">A-</mat-option>
                      <mat-option [value]="'B+'">B+</mat-option>
                      <mat-option [value]="'B-'">B-</mat-option>
                      <mat-option [value]="'AB+'">AB+</mat-option>
                      <mat-option [value]="'AB-'">AB-</mat-option>
                      <mat-option [value]="'O+'">O+</mat-option>
                      <mat-option [value]="'O-'">O-</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- Contact Information Section -->
              <div class="section-heading mb-2">
                <h3 class="section-title"><i class="material-icons-outlined">place</i> Contact Information</h3>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    @if (docForm.get('email')?.hasError('email') && docForm.get('email')?.touched) {
                    <mat-error>
                      Please enter a valid email address
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Mobile</mat-label>
                    <input matInput formControlName="mobile" type="number" required>
                    @if (docForm.get('mobile')?.hasError('required')) {
                    <mat-error>
                      Mobile number is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Alternative Contact</mat-label>
                    <input matInput formControlName="alternativeContact" type="number">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Address</mat-label>
                    <textarea matInput formControlName="address" rows="3"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input matInput formControlName="postalCode">
                  </mat-form-field>
                </div>
              </div>

              <!-- Account Information Section -->
              <div class="section-heading mb-2">
                <h3 class="section-title"><i class="material-icons-outlined">password</i> Account Information</h3>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    @if (docForm.get('password')?.hasError('required')) {
                    <mat-error>
                      Password is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Re-Enter Password</mat-label>
                    <input matInput formControlName="conformPassword" type="password" required>
                    @if (docForm.get('conformPassword')?.hasError('required')) {
                    <mat-error>
                      Re-Enter password is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <!-- Professional Information Section -->
              <div class="section-heading mb-2">
                <h3 class="section-title"><i class="material-icons-outlined">business_center</i> Professional
                  Information</h3>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Designation</mat-label>
                    <input matInput formControlName="designation" required>
                    @if (docForm.get('designation')?.hasError('required')) {
                    <mat-error>
                      Designation is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Select Department</mat-label>
                    <mat-select formControlName="department" required>
                      <mat-option [value]="'1'">
                        Neurology
                      </mat-option>
                      <mat-option [value]="'2'">
                        Orthopedics
                      </mat-option>
                      <mat-option [value]="'3'">
                        Gynaecology
                      </mat-option>
                      <mat-option [value]="'4'">
                        Microbiology
                      </mat-option>
                      <mat-option [value]="'5'">
                        Cardiology
                      </mat-option>
                      <mat-option [value]="'6'">
                        Oncology
                      </mat-option>
                      <mat-option [value]="'7'">
                        Dermatology
                      </mat-option>
                      <mat-option [value]="'8'">
                        Pediatrics
                      </mat-option>
                    </mat-select>
                    @if (docForm.get('department')?.hasError('required')) {
                    <mat-error>
                      Select Any Department
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Specialization</mat-label>
                    <input matInput formControlName="specialization" required>
                    @if (docForm.get('specialization')?.hasError('required')) {
                    <mat-error>
                      Specialization is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Experience (Years)</mat-label>
                    <input matInput formControlName="experience" type="number" min="0" required>
                    @if (docForm.get('experience')?.hasError('required')) {
                    <mat-error>
                      Experience is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>License Number</mat-label>
                    <input matInput formControlName="licenseNumber" required>
                    @if (docForm.get('licenseNumber')?.hasError('required')) {
                    <mat-error>
                      License number is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>License Expiry Date</mat-label>
                    <input matInput [matDatepicker]="licenseExpiryPicker" formControlName="licenseExpiryDate" required>
                    <mat-datepicker-toggle matSuffix [for]="licenseExpiryPicker"></mat-datepicker-toggle>
                    <mat-datepicker #licenseExpiryPicker></mat-datepicker>
                    @if (docForm.get('licenseExpiryDate')?.hasError('required')) {
                    <mat-error>
                      License expiry date is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Education</mat-label>
                    <textarea matInput formControlName="education" rows="3" required></textarea>
                    @if (docForm.get('education')?.hasError('required')) {
                    <mat-error>
                      Education details are required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Certifications</mat-label>
                    <textarea matInput formControlName="certifications" rows="2"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <!-- Hospital Specific Information -->
              <div class="section-heading mb-2">
                <h3 class="section-title"><i class="material-icons-outlined">local_hospital</i> Hospital Specific
                  Information
                </h3>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Joining Date</mat-label>
                    <input matInput [matDatepicker]="joiningDatePicker" formControlName="joiningDate" required>
                    <mat-datepicker-toggle matSuffix [for]="joiningDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #joiningDatePicker></mat-datepicker>
                    @if (docForm.get('joiningDate')?.hasError('required')) {
                    <mat-error>
                      Joining date is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Employee ID</mat-label>
                    <input matInput formControlName="employeeId" required>
                    @if (docForm.get('employeeId')?.hasError('required')) {
                    <mat-error>
                      Employee ID is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Room/Cabin Number</mat-label>
                    <input matInput formControlName="roomNumber">
                  </mat-form-field>
                </div>
              </div>

              <!-- Availability Information -->
              <div class="section-heading mb-2">
                <h3 class="section-title"><i class="material-icons-outlined">access_time</i> Availability Information
                </h3>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Available Days</mat-label>
                    <mat-select formControlName="availableDays" multiple required>
                      <mat-option [value]="'Monday'">Monday</mat-option>
                      <mat-option [value]="'Tuesday'">Tuesday</mat-option>
                      <mat-option [value]="'Wednesday'">Wednesday</mat-option>
                      <mat-option [value]="'Thursday'">Thursday</mat-option>
                      <mat-option [value]="'Friday'">Friday</mat-option>
                      <mat-option [value]="'Saturday'">Saturday</mat-option>
                      <mat-option [value]="'Sunday'">Sunday</mat-option>
                    </mat-select>
                    @if (docForm.get('availableDays')?.hasError('required')) {
                    <mat-error>
                      Available days are required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Start Time</mat-label>
                    <input matInput formControlName="startTime" type="time" required>
                    @if (docForm.get('startTime')?.hasError('required')) {
                    <mat-error>
                      Start time is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>End Time</mat-label>
                    <input matInput formControlName="endTime" type="time" required>
                    @if (docForm.get('endTime')?.hasError('required')) {
                    <mat-error>
                      End time is required
                    </mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>

              <!-- Emergency Contact Information -->
              <div class="section-heading mb-2">
                <h3 class="section-title"><i class="material-icons-outlined">contact_emergency</i> Emergency Contact
                  Information
                </h3>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Emergency Contact Name</mat-label>
                    <input matInput formControlName="emergencyContactName">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Emergency Contact Number</mat-label>
                    <input matInput formControlName="emergencyContactNumber" type="number">
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Relationship</mat-label>
                    <input matInput formControlName="emergencyContactRelation">
                  </mat-form-field>
                </div>
              </div>
              <!-- Document Upload Section -->
              <div class="section-heading mb-2">
                <h3 class="section-title"><i class="material-icons-outlined">article</i> Documents
                </h3>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <label>Profile Photo</label>
                  <app-file-upload formControlName="profilePhoto"></app-file-upload>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <label>License Document</label>
                  <app-file-upload formControlName="licenseDocument"></app-file-upload>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <label>Education Certificates</label>
                  <app-file-upload formControlName="educationCertificates"></app-file-upload>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-5">
                  <label>Additional Documents</label>
                  <app-file-upload formControlName="additionalDocuments"></app-file-upload>
                </div>
              </div>

              <!-- Form Actions -->
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3 text-end">
                  <button type="button" mat-flat-button class="formCancelBtn me-2">Cancel</button>
                  <button class="btn-space" [disabled]="!docForm.valid" mat-flat-button color="primary">Submit</button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>