<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Contacts'" [items]="['Contacts']" [active_item]="'List'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-master-table [title]="'Contacts'" [columnDefinitions]="columnDefinitions" [dataSource]="dataSource"
          [isLoading]="isLoading" [exportFileName]="'contacts_export'" [showDetails]="true" (add)="handleAdd()"
          (edit)="handleEdit($event)" (delete)="handleDelete($event)" (details)="handleDetails($event)"
          (refresh)="handleRefresh()" (bulkDelete)="handleBulkDelete($event)">
        </app-master-table>
      </div>
    </div>
  </div>
</section>