<mat-card>
  <mat-card-header>
    <mat-card-title>Staff Distribution</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
      [plotOptions]="chartOptions.plotOptions!" [dataLabels]="chartOptions.dataLabels!" [yaxis]="chartOptions.yaxis!"
      [legend]="chartOptions.legend!" [colors]="chartOptions.colors!" [tooltip]="chartOptions.tooltip!"></apx-chart>
  </mat-card-content>
</mat-card>