<div class="addContainer">
    <div class="modalHeader">
        <div class="avatarDetails">
            <div class="modalTitle">{{ dialogTitle }}</div>
        </div>
        <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="patientFeedbackForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Feedback ID</mat-label>
                        <input matInput formControlName="feedback_id" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>qr_code</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Patient Name</mat-label>
                        <input matInput formControlName="patient_name" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>person</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Feedback Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="feedback_date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category" required>
                            <mat-option value="Doctor Consultation">Doctor Consultation</mat-option>
                            <mat-option value="Nursing Care">Nursing Care</mat-option>
                            <mat-option value="Facilities">Facilities</mat-option>
                            <mat-option value="Food Services">Food Services</mat-option>
                            <mat-option value="Billing">Billing</mat-option>
                            <mat-option value="Pharmacy">Pharmacy</mat-option>
                            <mat-option value="General">General</mat-option>
                        </mat-select>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>category</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Rating</mat-label>
                        <mat-select formControlName="rating" required>
                            <mat-option value="5">5 - Excellent</mat-option>
                            <mat-option value="4">4 - Good</mat-option>
                            <mat-option value="3">3 - Average</mat-option>
                            <mat-option value="2">2 - Poor</mat-option>
                            <mat-option value="1">1 - Very Poor</mat-option>
                        </mat-select>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>star</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status" required>
                            <mat-option value="Reviewed">Reviewed</mat-option>
                            <mat-option value="Pending">Pending</mat-option>
                            <mat-option value="Action Taken">Action Taken</mat-option>
                        </mat-select>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Feedback Content</mat-label>
                        <textarea matInput formControlName="feedback_text" required></textarea>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>description</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Reviewed By</mat-label>
                        <input matInput formControlName="reviewed_by">
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>person_search</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Action Taken</mat-label>
                        <textarea matInput formControlName="action_taken"></textarea>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>gavel</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="notes"></textarea>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>notes</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-flat-button class="formSubmitBtn" [disabled]="!patientFeedbackForm.valid"
                            type="submit">Save</button>
                        <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>