<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Supplier Orders'" [items]="['Pharmacy']" [active_item]="'Supplier Orders'"></app-breadcrumb>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-master-table
          [dataSource]="dataSource"
          [columnDefinitions]="columnDefinitions"
          [title]="'Purchase Orders to Suppliers'"
          [showAdd]="true"
          [showEdit]="true"
          [showDelete]="true"
          [isLoading]="isLoading"
          (add)="handleAddOrder()"
          (edit)="handleReceive($event)"
          (delete)="handleCancel($event)"
          (refresh)="handleRefresh()">
        </app-master-table>
      </div>
    </div>
  </div>
</section>
