<div class="addContainer">
    <div class="modalHeader">
        <div class="avatarDetails">
            <div class="modalTitle">{{ dialogTitle }}</div>
        </div>
        <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="equipmentForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Equipment ID</mat-label>
                        <input matInput formControlName="equipment_id" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>qr_code</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Equipment Name</mat-label>
                        <input matInput formControlName="equipment_name" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>medical_services</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category" required>
                            <mat-option value="Diagnostic">Diagnostic</mat-option>
                            <mat-option value="Surgical">Surgical</mat-option>
                            <mat-option value="Monitoring">Monitoring</mat-option>
                            <mat-option value="Life Support">Life Support</mat-option>
                            <mat-option value="Laboratory">Laboratory</mat-option>
                            <mat-option value="Therapeutic">Therapeutic</mat-option>
                            <mat-option value="Mobility">Mobility</mat-option>
                        </mat-select>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>category</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Department</mat-label>
                        <mat-select formControlName="department" required>
                            <mat-option value="Radiology">Radiology</mat-option>
                            <mat-option value="ICU">ICU</mat-option>
                            <mat-option value="Operation Theatre">Operation Theatre</mat-option>
                            <mat-option value="Emergency">Emergency</mat-option>
                            <mat-option value="Laboratory">Laboratory</mat-option>
                            <mat-option value="Cardiology">Cardiology</mat-option>
                            <mat-option value="General Ward">General Ward</mat-option>
                        </mat-select>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>apartment</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Manufacturer</mat-label>
                        <input matInput formControlName="manufacturer" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>factory</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Model Number</mat-label>
                        <input matInput formControlName="model_number">
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>numbers</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Serial Number</mat-label>
                        <input matInput formControlName="serial_number">
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>pin</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Purchase Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="purchase_date" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Purchase Cost</mat-label>
                        <input matInput formControlName="purchase_cost">
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>attach_money</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Warranty Expiry</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="warranty_expiry">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status" required>
                            <mat-option value="Operational">Operational</mat-option>
                            <mat-option value="Under Maintenance">Under Maintenance</mat-option>
                            <mat-option value="Out of Service">Out of Service</mat-option>
                            <mat-option value="Retired">Retired</mat-option>
                        </mat-select>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>flag</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Location</mat-label>
                        <input matInput formControlName="location">
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>place</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="notes"></textarea>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>notes</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-flat-button class="formSubmitBtn" [disabled]="!equipmentForm.valid"
                            type="submit">Save</button>
                        <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>