<div class="addContainer">
    <div class="modalHeader">
        <div class="avatarDetails">
            <label class="hoverable">
                <img [src]='consultation.img' alt="avatar">
            </label>
            <div class="modalTitle">
                {{dialogTitle}}
            </div>
        </div>
        <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="consultationForm" (ngSubmit)="confirmAdd()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Consultation ID</mat-label>
                        <input matInput formControlName="consultationId" required>
                        <mat-icon matSuffix>badge</mat-icon>
                        @if (consultationForm.get('consultationId')?.hasError('required')) {
                        <mat-error>ID is required</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Patient Name</mat-label>
                        <input matInput formControlName="patientName" required>
                        <mat-icon matSuffix>person</mat-icon>
                        @if (consultationForm.get('patientName')?.hasError('required')) {
                        <mat-error>Patient Name is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Patient ID</mat-label>
                        <input matInput formControlName="patientId" required>
                        <mat-icon matSuffix>perm_identity</mat-icon>
                        @if (consultationForm.get('patientId')?.hasError('required')) {
                        <mat-error>Patient ID is required</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Doctor</mat-label>
                        <input matInput formControlName="doctor" required>
                        <mat-icon matSuffix>person_outline</mat-icon>
                        @if (consultationForm.get('doctor')?.hasError('required')) {
                        <mat-error>Doctor is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Consultation Date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="consultationDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        @if (consultationForm.get('consultationDate')?.hasError('required')) {
                        <mat-error>Date is required</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Time</mat-label>
                        <input matInput formControlName="consultationTime" required>
                        <mat-icon matSuffix>access_time</mat-icon>
                        @if (consultationForm.get('consultationTime')?.hasError('required')) {
                        <mat-error>Time is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Chief Complaint</mat-label>
                        <textarea matInput formControlName="chiefComplaint" required></textarea>
                        @if (consultationForm.get('chiefComplaint')?.hasError('required')) {
                        <mat-error>Complaint is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Diagnosis</mat-label>
                        <input matInput formControlName="diagnosis" required>
                        <mat-icon matSuffix>medical_services</mat-icon>
                        @if (consultationForm.get('diagnosis')?.hasError('required')) {
                        <mat-error>Diagnosis is required</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status" required>
                            <mat-option value="Completed">Completed</mat-option>
                            <mat-option value="In Progress">In Progress</mat-option>
                            <mat-option value="Scheduled">Scheduled</mat-option>
                        </mat-select>
                        @if (consultationForm.get('status')?.hasError('required')) {
                        <mat-error>Status is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-flat-button class="formSubmitBtn" [disabled]="!consultationForm.valid"
                            type="submit">Save</button>
                        <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>