<section class="content">
  <div class="content-block">
    <div class="block-header">
      <app-breadcrumb [title]="'Ambulance Call List'" [items]="['Ambulance']"
        [active_item]="'Call List'"></app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-master-table [title]="'Ambulance Call List'" [columnDefinitions]="columnDefinitions"
          [dataSource]="dataSource" [isLoading]="isLoading" [exportFileName]="'ambulance_calls'" (add)="handleAdd()"
          (edit)="handleEdit($event)" (delete)="handleDelete($event)" (refresh)="handleRefresh()"
          (bulkDelete)="handleBulkDelete($event)">
        </app-master-table>
      </div>
    </div>
  </div>
</section>