<div class="addContainer">
    <div class="modalHeader">
        <div class="avatarDetails">
            <label class="hoverable">
                <img [src]='certificate.img' alt="avatar">
            </label>
            <div class="modalTitle">
                {{dialogTitle}}
            </div>
        </div>
        <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="certificateForm" (ngSubmit)="confirmAdd()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Certificate ID</mat-label>
                        <input matInput formControlName="certificateId" required>
                        <mat-icon matSuffix>badge</mat-icon>
                        @if (certificateForm.get('certificateId')?.hasError('required')) {
                        <mat-error>ID is required</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Patient Name</mat-label>
                        <input matInput formControlName="patientName" required>
                        <mat-icon matSuffix>person</mat-icon>
                        @if (certificateForm.get('patientName')?.hasError('required')) {
                        <mat-error>Patient Name is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Patient ID</mat-label>
                        <input matInput formControlName="patientId" required>
                        <mat-icon matSuffix>perm_identity</mat-icon>
                        @if (certificateForm.get('patientId')?.hasError('required')) {
                        <mat-error>Patient ID is required</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Certificate Type</mat-label>
                        <mat-select formControlName="certificateType" required>
                            <mat-option value="Medical Fitness">Medical Fitness</mat-option>
                            <mat-option value="Sick Leave">Sick Leave</mat-option>
                            <mat-option value="Vaccination">Vaccination</mat-option>
                            <mat-option value="Birth">Birth</mat-option>
                            <mat-option value="Death">Death</mat-option>
                        </mat-select>
                        @if (certificateForm.get('certificateType')?.hasError('required')) {
                        <mat-error>Type is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Issue Date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="issueDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        @if (certificateForm.get('issueDate')?.hasError('required')) {
                        <mat-error>Date is required</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Valid Until</mat-label>
                        <input matInput [matDatepicker]="picker2" formControlName="validUntil">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Purpose</mat-label>
                        <textarea matInput formControlName="purpose" required></textarea>
                        @if (certificateForm.get('purpose')?.hasError('required')) {
                        <mat-error>Purpose is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Issued By</mat-label>
                        <input matInput formControlName="issuedBy" required>
                        <mat-icon matSuffix>person_outline</mat-icon>
                        @if (certificateForm.get('issuedBy')?.hasError('required')) {
                        <mat-error>Doctor name is required</mat-error>
                        }
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status" required>
                            <mat-option value="Issued">Issued</mat-option>
                            <mat-option value="Pending">Pending</mat-option>
                            <mat-option value="Rejected">Rejected</mat-option>
                        </mat-select>
                        @if (certificateForm.get('status')?.hasError('required')) {
                        <mat-error>Status is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-flat-button class="formSubmitBtn" [disabled]="!certificateForm.valid"
                            type="submit">Save</button>
                        <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>