.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.font-weight-bold {
  font-weight: bold;
}

.p-t-0 {
  padding-top: 0;
}

.font-17 {
  font-size: 17px;
}