<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        {{ dialogTitle }}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="technicianAssignmentForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Technician Name</mat-label>
            <input matInput formControlName="technicianName" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>person</mat-icon>
            @if (technicianAssignmentForm.get('technicianName')?.hasError('required')) {
              <mat-error>
                Technician Name is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Test Name</mat-label>
            <input matInput formControlName="testName" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>biotech</mat-icon>
            @if (technicianAssignmentForm.get('testName')?.hasError('required')) {
              <mat-error>
                Test Name is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Patient Name</mat-label>
            <input matInput formControlName="patientName" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
            @if (technicianAssignmentForm.get('patientName')?.hasError('required')) {
              <mat-error>
                Patient Name is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Department</mat-label>
            <input matInput formControlName="department" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>business</mat-icon>
            @if (technicianAssignmentForm.get('department')?.hasError('required')) {
              <mat-error>
                Department is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Assigned Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="assignedDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (technicianAssignmentForm.get('assignedDate')?.hasError('required')) {
              <mat-error>
                Assigned Date is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" required>
              <mat-option value="Low">Low</mat-option>
              <mat-option value="Normal">Normal</mat-option>
              <mat-option value="High">High</mat-option>
              <mat-option value="Urgent">Urgent</mat-option>
            </mat-select>
            @if (technicianAssignmentForm.get('priority')?.hasError('required')) {
              <mat-error>
                Priority is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
              <mat-option value="Assigned">Assigned</mat-option>
              <mat-option value="InProgress">In Progress</mat-option>
              <mat-option value="Completed">Completed</mat-option>
              <mat-option value="Cancelled">Cancelled</mat-option>
            </mat-select>
            @if (technicianAssignmentForm.get('status')?.hasError('required')) {
              <mat-error>
                Status is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!technicianAssignmentForm.valid"
            type="submit">Save</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>