<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        {{ dialogTitle }}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="sampleCollectionForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Sample ID</mat-label>
            <input matInput formControlName="sampleId" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>qr_code</mat-icon>
            @if (sampleCollectionForm.get('sampleId')?.hasError('required')) {
              <mat-error>
                Sample ID is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Patient Name</mat-label>
            <input matInput formControlName="patientName" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>person</mat-icon>
            @if (sampleCollectionForm.get('patientName')?.hasError('required')) {
              <mat-error>
                Patient Name is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Test Name</mat-label>
            <input matInput formControlName="testName" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>biotech</mat-icon>
            @if (sampleCollectionForm.get('testName')?.hasError('required')) {
              <mat-error>
                Test Name is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Sample Type</mat-label>
            <mat-select formControlName="sampleType" required>
              <mat-option value="Blood">Blood</mat-option>
              <mat-option value="Urine">Urine</mat-option>
              <mat-option value="Swab">Swab</mat-option>
            </mat-select>
            @if (sampleCollectionForm.get('sampleType')?.hasError('required')) {
              <mat-error>
                Sample Type is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Collection Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="collectionDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (sampleCollectionForm.get('collectionDate')?.hasError('required')) {
              <mat-error>
                Collection Date is required
              </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Collected By</mat-label>
            <input matInput formControlName="collectedBy" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>medical_services</mat-icon>
            @if (sampleCollectionForm.get('collectedBy')?.hasError('required')) {
              <mat-error>
                Collected By is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required>
              <mat-option value="Pending">Pending</mat-option>
              <mat-option value="Collected">Collected</mat-option>
              <mat-option value="Transferred">Transferred</mat-option>
            </mat-select>
            @if (sampleCollectionForm.get('status')?.hasError('required')) {
              <mat-error>
                Status is required
              </mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!sampleCollectionForm.valid"
            type="submit">Save</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>