<div class="addContainer">
    <div class="modalHeader">
        <div class="avatarDetails">
            <div class="modalTitle">{{ dialogTitle }}</div>
        </div>
        <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="scanTrackingForm" (ngSubmit)="submit()">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Scan ID</mat-label>
                        <input matInput formControlName="scanId" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>qr_code</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Patient Name</mat-label>
                        <input matInput formControlName="patientName" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>person</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Scan Type</mat-label>
                        <input matInput formControlName="scanType" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>monitor_heart</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Modality</mat-label>
                        <mat-select formControlName="modality" required>
                            <mat-option value="X-Ray">X-Ray</mat-option>
                            <mat-option value="CT Scan">CT Scan</mat-option>
                            <mat-option value="MRI">MRI</mat-option>
                            <mat-option value="Ultrasound">Ultrasound</mat-option>
                            <mat-option value="Mammogram">Mammogram</mat-option>
                        </mat-select>
                        <mat-icon class="material-icons-outlined color-icon p-3"
                            matSuffix>settings_input_component</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Technician Name</mat-label>
                        <input matInput formControlName="technicianName" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>face</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Scan Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="scanDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Duration</mat-label>
                        <input matInput formControlName="duration" required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>timer</mat-icon>
                    </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="status" required>
                            <mat-option value="Scheduled">Scheduled</mat-option>
                            <mat-option value="InProgress">InProgress</mat-option>
                            <mat-option value="Completed">Completed</mat-option>
                            <mat-option value="Cancelled">Cancelled</mat-option>
                        </mat-select>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>check_circle</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="notes"></textarea>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>notes</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row">
                        <button mat-flat-button class="formSubmitBtn" [disabled]="!scanTrackingForm.valid"
                            type="submit">Save</button>
                        <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>